@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-cta: #9b0ced;
  --color-darkbg: #181818;
  --color-secondarydarkbg: #1e1e1e;
  --color-darkmodetext: #e4e4e4;
  --color-hovercta: #7123b0;
  --color-grey: #f5f5f5;
  --color-error: #f23f3f;
  --color-darkmodeCTA: #b458ff;

  --font-title: "Playwrite IN", sans-serif;
  --font-sans: "Open Sans", serif;
}

input::placeholder {
  transition: color 0.2s;
}
